# Byte-compiled / optimized / DLL files
__pycache__/
*.py[cod]
*$py.class

# C extensions
*.so

# Test & coverage
.pytest_cache/
.coverage
htmlcov/

# Local databases
*.sqlite3
*.sqlite3-journal
*.db
backend/feedback.db

# Environments
.env
.venv
env/
venv/
ENV/

# Node modules
node_modules/
dist/
dist-ssr/
*.local

# IDEs and System files
.vscode/
.idea/
.DS_Store
Thumbs.db
